.banner {
  position: relative;
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 5em;
  font-weight:semi-bold;
}

.banner_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner--sm {
  height: 220px;
  align-items: flex-start;
  padding-top: 3em;

  h1 {
    font-size: 2.75rem;
  }
}
