.list_card {
  background-size: cover;
  background-position:top;
  width: 360px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.7);
  transition: all 0.3s ease;
}

.list_cards {
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    text-decoration: none;
        color: white;
  }
}

.list_card_container {
  position: relative;
  transition: all 0.3s ease;
  padding: none;
  margin: 2em;
  &:hover{
    transform: scale(1.05);

    .delete_btn {
      opacity: 1;
    }
  }
}
