h1, h2, h3 {
  text-align: center;
  margin: 1em auto;
}

.home-content h1 {
  text-align: start;
}

a {
  text-decoration: none;
}

.home-card {
  transition: 0.2s
}

.home-card:hover {
  transform: rotate(5deg);
}
